<section class="main__desk desk">

    <div class="page__container">
        <button class="header__btn header__btn--create hidden">
            Створити візит
        </button>
        <form class="desk__filter filter">
            <input type="text" name="content" placeholder="Пошук за заголовком" />
            <select name="status" style="padding: 1.5px 2px">
                <option value="">Статус</option>
                <option value="open">Open</option>
                <option value="done">Done</option>
            </select>
            <select name="priority" style="padding: 1.5px 2px">
                <option value="">Пріорітет візиту</option>
                <option value="high">High</option>
                <option value="normal">Normal</option>
                <option value="low">Low</option>
            </select>
            <button class="filter__btn" type="button">Пошук</button>
        </form>
        <p class="desk__text">No items have been added</p>
        <ul class="desk__list-cards"></ul>
    </div>
</section>