<header class="page__header page-header">
    <div class="page__container header-container">
        <a class="page-header__logo header-logo" href="#">
            <img
                class="header-logo__img"
                src="./img/header_logo.png"
                alt="header_logo.png"
                width="50"
                height="50"
            />
            Medical Center
        </a>
        <div class="page-header__btn-wrapper">
            <button class="header__btn header__btn--login">Вхід</button>
            <button class="header__btn header__btn--unlogin hidden">
                Вихід
            </button>
        </div>
    </div>
</header>
