<div id="modal-newVisit" class="modal">
    <div class="modal__content">
        <span class="modal__close close__visit">×</span>
        <form class="form">
            <select class="form__item" name="specialist" id="specialist">
                <option disabled selected value="default">
                    Виберіть лікаря
                </option>
                <option value="cardiologist">Кардіолог</option>
                <option value="dentist">Стоматолог</option>
                <option value="therapist">Терапевт</option>
            </select>
            <div id="form__info"></div>
            <button class="form__btn hidden" type="submit">Create</button>
        </form>
    </div>
</div>
