<div id="modal-login" class="modal">
    <div class="modal__content">
        <span class="modal__close close__login">×</span>
        <form class="form">
            <input
                    class="form__item"
                    type="email"
                    name="email"
                    placeholder="email"
                    required
                    value="1dark1@ukr.net"
            />
            <input
                    class="form__item"
                    type="password"
                    name="password"
                    placeholder="password"
                    required
                    value="kolyamba"
            />
            <button class="form__btn" type="submit">Увійти</button>
        </form>
    </div>
</div>
