.page {
    background-image: url(../img/main_bgd.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.page__body {
    font-family: "Lato", sans-serif;
}

.page__container {
text-align: center;
    margin: 0 auto;
    max-width: 1220px;
    padding-left: 10px;
    padding-right: 10px;
}

.hidden {
    display: none;
}
