.desk__filter {
    padding: 15px 0;

}

.desk__text {
    font-weight: 700;
    font-size: 32px;
    line-height: 32px;
    color: red;

    margin-top: 10px;
    margin-bottom: 10px;
}

.desk__list-cards {
    text-align: start;
    list-style-type: none;
    padding: 0 100px 16px 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
